.outline-grey {
    border: 1px solid grey;
    border-radius: 5px;
}

.black {
    background-color: #000000;
}

.text-white {
    color: white;
}

.full-width {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


.form {
    max-width: 640px;
    margin: 0 auto;

    background-color: #E9E9E9;
    padding: 20px;

    border: 1px solid #D5D5D5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.top-container {
    padding-top: 30px;
}

.marg-left {
    margin-left: 10px;
}

.marg-right {
    maring-right: 10px;
}